.top-brands {
  padding-top: 30px;
}

.top-brands-cover {
  height: 100%;
  width: 100%;
}

.top-brands-image {
  object-fit: cover;
  height: 80%;
  width: 70%;
  border-radius: 50%;
  cursor: pointer;
  border-radius: inherit;
}
